# 유니티 관련
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

# 유니티 빌드 설정 파일
Assets/Plugins/Editor/JetBrains*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# Visual Studio Code
.vscode/

# OS 관련
.DS_Store
Thumbs.db